.product-wrapper {
    position: relative;
    padding: 20px 0;
    min-height: 260px;
}

.product-details {
    padding-left: 300px;
    width: 100%;
    max-width: 900px;
}

.product-image {
    position: absolute;
    top: 20px;
    left: 0;
    width: 250px;
    height: 250px;
    border: 2px solid #ec8023;
    background-color: #FFF;
}

.product-details h2 {
    font-size: 28px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
}

.product-image img {
    max-width: 100%;
}

.product-image .expand-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.product-image .expand-image:hover {
    color: #ec8023;
}

.product-details h2.price {
    color: #21a114;
    line-height: 28px;
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
}

.product-details .btn {
    margin: 0;
    vertical-align: middle;
}

.btn-mid {
    height: 28px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 28px;
    margin: 10px 0;
    border-radius: 6px;
}

.product-details .options {
    margin-bottom: 10px;
    margin-top: 30px;
}

.product-details .info {
    margin-bottom: 10px;
    margin-top: 30px;
}

.product-details .options img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border: 1px solid #ec8023;
    cursor: pointer;
    cursor: hand;
    min-height: 50px;
    background-color: #FFF;
}

.tab {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 40px;
    position: relative;
    color: #FFF;
    cursor: pointer;
    cursor: pointer;
}

.tab:after {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 1px;
    background-color: #FFF;
    right: -19px;
}

.tab:last-child:after{
    display: none;
}

.tab.active {
    color: #ec8023;
}

.tab-content {
    padding: 13px 20px;
    background-color: #dbdbd9;
    color: #333;
    max-width: 650px;
    font-size: 15px;
    min-height: 90px;
}

.modal-content {
    border-radius: 0;
}


@media (max-width: 1320px) {
    .product-image {
        width: 200px;
        height: 200px;
    }
    .product-details {
        padding-left: 230px;
        max-width: 865px;
    }
    
}